caption{
    background-color: yellow;
}
table , table *{
    border: 2px solid black;
}
thead{
    background-color: blue;
    color: white;
}
#firstcolonne{
    background-color: yellow;
    text-align: center;
}
.Midi{
    background-color: orange;
}
#Aveyron{
    background-color: green;
}
.Languedoc{
    background-color: lime;
}
.Total{
    font-weight: bold;
}
.Chiffre{
    font-weight: bold;
    text-align: right;
}
.general{
    background-color: yellow; 
}
